.myfooter {
    text-align: right;
}

.fa-youtube {
    color: red;
}

.fa-facebook {
    color: blue;
}

.fa-twitter {
    color: lightskyblue;
}

.backgroundImage {
    background-image: url("/images/leo-serrat_unsplash-1-1600x900.jpg.webp");
}

.container {
    text-align: center;
}
.cardsContainer {
width: 1000px; 
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}